<template name="footer">
<!-- Upload File -->
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="background: none repeat scroll 0 0 rgba(0, 0, 0, 0);height: 100%;margin: 0 auto;padding-top: 0;width: 100%;">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-body">
	        {{> dashboard}}
	      </div>
	    </div>
	  </div>
	</div>
			
  <div id="footer">
	  {{footer}}
  </div>
</template>
