<template name="header">
	<div class="navbar navbar-default navbar-fixed-top" role="navigation">
		<div class="container">
			<div class="navbar-header">
				<a class="navbar-brand" href="#">EMB</a>
			</div>
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav navbar-right">
					<li><a id="home" href="#">Home</a></li>
						{{#if currentUser}}
					      <li><a id="dashboard" href="#">Dashboard</a></li>
					    {{/if}}
					    
					<li><a href="#">{{> loginButtons}}</a></li>
				</ul>
			</div>
		</div>
	</div>
</template>