<template name="header">
	<div class="navbar navbar-default navbar-fixed-top" role="navigation" style="opacity:0.85;border-top:1px solid #fff">
		<div class="container" >
			<div class="navbar-header">
				<a id="logo" class="navbar-brand" href="javascript:void(0)"><span class="glyphicon glyphicon-fire"></span> EMB</a>
			</div>
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav navbar-right">
					<li><a id="home" href="#"><span class="glyphicon glyphicon-th-large"></span>  Home</a></li>
						{{#if currentUser}}
					      <li><a id="dashboard" href="javascript:void(0)" data-toggle="modal" data-target="#myModal"><span class="glyphicon glyphicon-plus"></span> New Box</a></li>

					      <li><a id="remove" href="javascript:void(0)"><span class="glyphicon glyphicon-trash"></span> Remove Box</a></li>
					    {{/if}}
					    
					<li><a href="javascript:void(0)"><span class="glyphicon glyphicon-user" style="color:#29649E;"></span> {{> loginButtons}}</a></li>
				</ul>
			</div>
		</div>
	</div>
</template>